body {
  font-family: 'Roboto Condensed', sans-serif;
}


.pie {
  grid-area: pie;
  background-color: burlywood;
  color: rgb(12, 12, 12);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  
}

.principal{
  grid-area: principal;
  display: flex;
  justify-content: center;
}

.filtros{
  grid-area: filtros;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: antiquewhite;
  padding: 10px;
}

.barranav{
  grid-area: navegacion;
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.grid{
  display: grid;
  grid-template-areas: 
  "navegacion"
  "filtros"
  "principal"
  "pie";
}

.nosotros{
  display: none;
}

.contacto{
  display: none;
}

@media (min-width:576px){
  .inicio{
    display: inline;
  }
  .contacto{
    display: inline;
  }
  #icono{
    display: none;
  }
  .grid{
    grid-template-columns: 2fr 9fr;
    grid-template-areas: 
    "navegacion filtros"
    "pie principal";
  }
  .barranav{
    flex-direction: column;

  }

  .gridprincipal{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 10px;
  }
  .pie{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.cartas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  border-radius: 5px;
  border: 1px solid black;
  justify-content: space-around;
}

.hyeinimg{
  background-image: url(../css/img/hyein.jpg);
   width: 300px;
   background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
    border-radius: 5px;
}

.jacksonimg{
  background-image: url(../css/img/jackson.jpeg);
   width: 300px;
   background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
    border-radius: 5px;
}

.taeimg{
  background-image: url(../css/img/tae.jpg);
  background-size: cover;
   width: 300px;
   height: 500px;
  background-repeat: no-repeat;
    border-radius: 5px;
}

.jinimg{
  background-image: url(../css/img/jin.jpg);
  background-size: cover;
   width: 300px;
   height: 500px;
  background-repeat: no-repeat;
    border-radius: 5px;
}

.jiminimg{
  background-image: url(../css/img/jimin.jpg);
  background-size: cover;
   width: 300px;
   height: 500px;
  background-repeat: no-repeat;
    border-radius: 5px;
}

.jkimg{
  background-image: url(../css/img/jk.jpg);
  background-size: cover;
   width: 300px;
   height: 500px;
  background-repeat: no-repeat;
    border-radius: 5px;
}

.namimg{
  background-image: url(../css/img/nam.jpg);
  background-size: cover;
   width: 300px;
   height: 500px;
  background-repeat: no-repeat;
    border-radius: 5px;
}

.yejiimg{
  background-image: url(../css/img/yeji.jpg);
  background-size: cover;
   width: 300px;
   height: 500px;
  background-repeat: no-repeat;
    border-radius: 5px;
}


.gridprincipal{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}



.boton{
  background-color: antiquewhite; 
    border: none;
    border-radius: 5px;
    color: rgb(8, 8, 8);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}


.paginacion {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.paginacion a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #f2f2f2;
  color: black;
  text-decoration: none;
  border-radius: 4px;
}

.pagina-activa {
 color: #fff;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

.abajo{
  grid-area: pie;
  text-align: center;
  align-content: center;
  margin-top:auto;
  margin-bottom: 0;
}

@media (min-width:992px){
 
  .pie{
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
  }


 }

